@use "../../../utils/mixins.scss" as m;

.article {
  @include m.width(584px);
  border-radius: 40px;
  padding: 24px;
  @include m.flex(start, start);
  flex-direction: column;
  gap: 24px;
  background: #1c1c21;
}

.numbers {
  @include m.flex(center, space-between);
  width: 100%;
}

.bottom {
  @include m.flex();
  gap: 24px;
}

.images {
  min-width: 436px;
}

.price {
  @include m.flex();
  gap: 9px;
}

.image {
  @include m.width(112px);
  margin-right: -54px;
  margin-left: -12px;
}
