@use "../../utils/mixins.scss" as m;

.content {
  @include m.width(480px);
  @include m.flex();
  flex-direction: column;
  margin: 180px auto 362px auto;
}

.form {
  @include m.flex();
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}
