@import "./utils/normalize.scss";

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #2f2f37;
}
*::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 300px;
}

a {
  text-decoration: none;
  color: unset;
}

